/**
* Accordion (<details>)
* Inspiration: https://codepen.io/koca/pen/RyeLLV
*/

details {
    display: block;
    margin-bottom: var(--mar2);
    
    // When there are multiple accordions after each other, separate them by proper margins
    // and lines.
    & + details {
        margin-bottom: var(--mar2);
        padding-bottom: var(--pad2);
        border-bottom: 1px solid $secondary;
    }
    
    summary {
        list-style-type: none;
        cursor: pointer;
        
        transition: color $transition;
        
        // Reset marker
        &::-webkit-details-marker {
            display: none;
        }
        
        &::marker {
            display: none;
        }
        
        &::-moz-list-bullet {
            list-style-type: none;
        }
        
        // Marker
        &::before {
            display: block;
            width: 1rem;
            height: 1rem;
            float: right;
            transform: rotate(-90deg);
            background-image: var(--icon-chevron);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1rem auto;
            margin-top: 0.25rem;
            content: "";
            transition: transform $transition;
        }
        
        &:focus {
            outline: none;
        }
        
        ~ * {
            margin-top: var(--mar2);
            
            ~ * {
                margin-top: 0;
            }
        }
        
        & > *:last-child {
            margin-bottom: 0;
        }
    }
    
    // Open
    &[open] {
        > summary {
            margin-bottom: var(--mar1);
            
            &::before {
                transform: rotate(0);
            } 
        }
    }
}
