{% extends "layout.html" %}

{% block title %}
{{node_name}} {{year or ""}}{%if quarter%}Q{{quarter}}{%endif%}
{% endblock %}

{% block head %}
<style>
    code .new {
        color: rgb(71, 114, 7);
    }
    code .old {
        color: rgb(114, 7, 7);
        text-decoration: line-through;
    }
</style>
{% endblock %}

{% block body %}

{% include 'dossier-quarter-selector.html' %}

<section>
    <h4 class="title is-4 mt-4 mb-2">Statistics</h4>
    {% if stats %}
    <div class="tab-selectors">
        {% for title, splits in stats.items() %}
            <a>{{title}}</a>
        {% endfor %}
    </div>
    <div class="tab-blocks">
        {% for title, splits in stats.items() %}
        <table>
            <tr>
                <th>Group</th>
                <th>Attempts</th>
                <th>Passed</th>
                <th>Avg pass grade</th>
                <th>Avg fail grade</th>
            </tr>
            {% for variant, info in splits.items() %}
                <tr>
                    <td>{{variant}}</td>
                    <td>{{info.count}}</td>
                    <td>{{info.passed_perc}}</td>
                    <td>{{"%.1f" | format(info.passed_avg)}}</td>
                    <td>{{"%.1f" | format(info.failed_avg)}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    {% else %}
    None
    {% endif %}
</section>

<section>
    <h4 class="title is-4 mt-4 mb-2">Student feedback</h4>
    <table>
        <tr><td>Average time spent</td><td>{{avg_time or '?'}} hours</td></tr>
        <tr><td>Average assignment clarity score</td><td>
            {{"%.1f" | format(feedback.assignment_clarity or 0)}} stars
            ({{feedback.assignment_clarity_ratings}} ratings)
        </td></tr>
        <tr><td>Average difficulty score</td><td>
            {{"%.1f" | format(feedback.difficulty or 0)}} stars where 3 means just right
            ({{feedback.difficulty_ratings}} ratings)
        </td></tr>
        <tr><td>Comments</td><td class="content">
            {% if feedback_comments %}
            <ul>
                {% for comment in feedback_comments %}
                <li>{{comment.comments}}</li>
                {% endfor %}
            </ul>
            {% else %}
            None
            {% endif %}
    </td></tr>
    </table>
</section>

<section>
    <h4 class="title is-4 mt-4 mb-2">Exam variants and rubrics</h4>

    {%if not archive_mode %}
    <p>
        <a href="{{current_link}}" class="button mb-2 is-primary">Current versions</a>
    </p>
    {%endif%}

    {% if variant_patches %}

    <p>Changes within this period:</p>
    
    <div class="tab-selectors">
        {%for variant, patches in variant_patches.items()%}
        <a>{{variant}}</a>
        {%endfor%}
    </div>
    
    <div class="tab-blocks">
        {%for variant, patches in variant_patches.items()%}
        <div>
            {%for patch in patches %}
            <section class="card mb-2 p-2">
                <h5 class="title is-5 mb-0 mt-2">{{patch.date}} {{patch.description}}</h5>
                {% if patch.meta %}
                <div class="content mt-2">
                    <ul>
                        {% for meta in patch.meta %}
                        <li>{{meta}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% for change in patch.changes %}
                <pre class="mt-1"><code>{{change | safe}}</code></pre>
                {% endfor %}
            </section>
            {%endfor%}
        </div>
        {%endfor%}
        {%if not variant_patches %}
        <p>No changes</p>
        {%endif%}
    </div>
    {% else %}
    No changes within this period.
    {% endif %}
</section>

{% if grades != None %}
<section>
    <h4 class="title is-4 mt-4 mb-2">Individual results</h4>
    {% if grades %}
    <table>
        <tr>
            <th>Date</th>
            <th>Student</th>
            <th>Grade</th>
            <th>Result</th>
            <th>Examinors</th>
        </tr>
    {% for attempt in grades %}
        <tr>
            <td>{{attempt.date}}</td>
            <td>{{attempt.first_name}} {{attempt.last_name}}</td>
            <td>{{attempt.grade}}</td>
            <td><a href="{{attempt.path}}">{{attempt.status}}</a></td>
            <td>{{attempt.grader_name}}{%if attempt.consenter_name%} + {{attempt.consenter_name}}{%endif%}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    None
    {% endif %}
</section>
{% endif %}

{% endblock %}